// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
 
#define DEFAU 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUN 4
#define TIL 5
#define GAM 6
#define UTL 7

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hk: homerow_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MOD";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hs: hold_custom {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_CUSTOM";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    };
    
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&kp ESC>;
        };
        
        combo_gam {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&kp LALT>;
            layers = <6>;
        };
    };

    macros {
          workz: workz {
              label = "ZM_workz";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp Z>
                  , <&macro_release &kp LALT>
                  ;
          };
          
          work1: work1 {
              label = "ZM_work1";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp N1>
                  , <&macro_release &kp LALT>
                  ;
          };

          work2: work2 {
              label = "ZM_work2";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp N2>
                  , <&macro_release &kp LALT>
                  ;
          };

          work3: work3 {
              label = "ZM_work3";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp N3>
                  , <&macro_release &kp LALT>
                  ;
          };

          work4: work4 {
              label = "ZM_work4";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp N4>
                  , <&macro_release &kp LALT>
                  ;
          };
          
          work5: work5 {
              label = "ZM_work5";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LALT>
                  , <&macro_tap &kp N5>
                  , <&macro_release &kp LALT>
                  ;
          };

          tmx1: tmx1 {
              label = "ZM_tmx1";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp LCTRL>
                  , <&macro_tap &kp A>
                  , <&macro_release &kp LCTRL>
                  , <&macro_tap &kp L>
                  ;
          };

          vim1: vim1 {
              label = "ZM_vim1";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_tap &kp C &kp I &kp DQT>
                  ;
          };
          
          vim2: vim2 {
              label = "ZM_vim2";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_tap &kp C &kp I &kp LPAR>
                  ;
          };

          util1: util1 {
              label = "ZM_util1";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_tap &kp END >
                  , <&macro_press &kp LSHIFT >
                  , <&macro_tap &kp HOME >
                  , <&macro_release &kp LSHIFT >
                  ;
          };
          
          cpMacOS: cpMacOS {
              label = "ZM_util1";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                  = <&macro_press &kp END >
                  , <&macro_tap &kp C>
                  , <&macro_release &kp LSHIFT >
                  ;
          };
    };
  
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            &kp Q          &kp W          &kp E           &kp R            &kp T          &kp Y      &kp U           &kp I          &kp O        &kp P
            &hk LGUI A     &hk LALT S     &hk LCTRL D     &hk LSHIFT F     &kp G          &kp H      &hk LSHIFT J    &hk LCTRL K    &hk LALT L   &hk LGUI SQT
            &lt UTL Z      &kp X          &kp C           &kp V            &kp B          &kp N      &kp M           &kp COMMA      &kp DOT      &lt FUN FSLH
                                        &lt NAV SPACE   &lt TIL TAB      &lt SYM RET    &lt NUM BSPC
            >;
        };
        
        nav_layer {
            bindings = <
            &kp F12   &trans       &trans     &trans       &trans       &trans     &trans     &trans     &trans     &trans
            &kp F11   &kp LALT     &kp LCTRL  &kp LSHIFT   &trans       &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &caps_word 
            &kp F10   &work1       &work2     &work3       &trans       &kp HOME   &kp PG_UP  &kp PG_DN  &trans     &kp END
                                                       &trans       &trans     &kp RET    &kp DEL
            >;
        };
        
        num_layer {
            bindings = <
            &kp LBKT    &kp N7       &kp N8     &kp N9    &kp RBKT     &trans     &trans     &trans     &trans     &trans
            &kp COLON   &kp N4       &kp N5     &kp N6    &kp EQUAL    &trans     &kp LSHIFT &kp LCTRL  &kp LALT   &kp LGUI
            &kp GRAVE   &kp N1       &kp N2     &kp N3    &kp PIPE     &trans     &trans     &trans     &trans     &trans
                                                  &kp N0       &kp MINUS   &kp RET    &kp DEL
            >;
        };
        
        sym_layer {
            bindings = <
              &kp LBRC   &kp AMPS     &kp ASTRK  &kp LPAR  &kp RBRC     &vim2      &vim1      &trans     &trans     &tog GAM
              &kp SEMI   &kp DOLLAR   &kp PRCNT  &kp CARET &kp PLUS     &trans     &util1     &trans     &tmx1      &trans
              &kp TILDE  &kp EXCL     &kp AT     &kp HASH  &kp BSLH     &trans     &trans     &trans     &trans     &trans
                                                           &kp RPAR     &kp UNDER  &trans     &trans
            >;
        };

        fun_layer {
            bindings = <
            &trans    &kp F7       &kp F8     &kp F9    &trans       &trans     &trans     &trans     &trans     &trans
            &kp F12   &kp F4       &kp F5     &kp F6    &trans       &trans     &kp LSHIFT &kp LCTRL  &kp LALT   &kp LGUI
            &kp F11   &kp F1       &kp F2     &kp F3    &trans       &trans     &trans     &trans     &trans     &trans
                                                        &kp F10      &trans     &trans     &trans
            >;
        };
        
        til_layer {
            bindings = <
            &trans   &trans       &trans     &trans    &trans       &trans     &trans     &trans     &trans     &trans
            &trans   &work4       &work5     &trans    &trans       &trans     &trans     &trans     &tmx1      &trans
            &workz   &work1       &work2     &work3    &trans       &trans     &trans     &trans     &trans     &trans
                                                        &trans       &trans     &trans     &trans
            >;
        };
        
        gam_layer {
            bindings = <
            &kp ESC     &kp N1       &kp N2    &kp N3    &kp N4      &kp Y     &trans     &trans     &trans     &tog GAM
            &kp LSHIFT  &kp Q        &kp W     &kp E     &kp R       &kp Z     &work4     &work5     &trans     &trans
            &kp LCTRL   &kp A        &kp S     &kp D     &kp F       &kp B     &work1     &work2     &work3     &trans
                                                    &kp TAB       &kp SPACE     &kp B     &trans
            >;
        };
        
        utl_layer {
            bindings = <
            &trans  &trans   &kp K_COPY     &kp K_PASTE     &trans     &trans  &trans   &trans    &trans    &trans
            &trans  &trans   &kp C_AC_COPY  &kp C_AC_PASTE  &trans     &trans  &trans   &trans    &trans    &trans
            &trans  &trans   &trans         &trans          &trans     &trans  &trans   &trans    &trans    &trans
                                       &trans    &trans     &trans  &trans
            >;
        };
    };
};
